---
export const prerender = false;

import Container from "../container.astro";
import { login } from "../../api/login";

Astro.cookies.has("token") && Astro.redirect("/");
---

<Container>
  <section
    class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen lg:py-0">
    <div
      class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 bg-offset dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>
        <form class="space-y-4 md:space-y-6" action="#">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="border border-gray-300 text-default sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 bg-default placeholder-default-offset focus:ring-primary"
              placeholder="name@company.com"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="border border-gray-300 text-default sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 bg-default placeholder-default-offset focus:ring-primary"
              required=""
            />
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  aria-describedby="remember"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                  required=""
                />
              </div>
              <div class="flex items-start flex-col md:flex-row">
                <div class="ml-3 text-sm">
                  <label for="remember" class="text-default">Remember me</label>
                </div>
                <div class="ml-3 text-sm">
                  <a
                    href="#"
                    class="text-sm font-medium hover:underline text-default hover:text-secondary"
                    >Forgot password?</a
                  >
                </div>
              </div>
            </div>
          </div>
          <button
            type="submit"
            id="submit"
            class="w-full text-default bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >Sign in</button
          >
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet? <a
              href="#"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
  </section>
</Container>

<script is:inline>
  const submitBtn = document.getElementById("submit");

  submitBtn.addEventListener("click", async (e) => {
    e.preventDefault();

    // Obtener los valores del formulario
    const emailInput = document.getElementById("email");
    const passwordInput = document.getElementById("password");
    const email = emailInput.value;
    const password = passwordInput.value;

    // Crear el objeto de datos para enviar en el cuerpo del POST request
    const data = new URLSearchParams();
    data.append("username", email);
    data.append("password", password);

    const token = login(data);

    Astro.cookies.set("token", token);

    Astro.cookies.has("token") && Astro.redirect("/");
  });
</script>
