---
import Link from "./ui/link.astro";
---

<div class="p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-primary text-4xl md:text-6xl tracking-tight">
    Build faster websites.
  </h2>
  <p class="text-offset mt-4 text-lg md:text-xl">
    Pull content from anywhere and serve it fast with Astro's next-gen island
    architecture.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Sign up for a 14-day Trial</Link>
  </div>
</div>
