---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Container class:list={"text-default"}>
    <Sectionhead>
      <Fragment slot="title">{frontmatter.title}</Fragment>
      <Fragment slot="desc">
        Last updated on {frontmatter.date}
      </Fragment>
    </Sectionhead>

    <!-- Utiliza la clase text-default directamente en el contenedor -->
    <div class="mx-auto prose mt-10 text-default">
      <slot />
    </div>
  </Container>
</Layout>
